@model IEnumerable<MVC.Models.mvcEmployeeModel>

@{
    ViewBag.Title = "Index";
}

<br/>

@*We have to create a view for create action.it will be 'AddOrEdit'.select an icon for this create New button in the website
    fontawesome.io/icons*@
<p>
    <a href="@Url.Action("AddOrEdit", "Employee")" class="btn btn-default"><i class="fa fa-plus"></i>Create New</a>
</p>
@*Adding onemore class from bootstrap*@
<table class="table table-striped">
    @*Enclose below in thead tag*@
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @*Controller name will be Employee and pass the id.We are iterating through the employee collection,so we can see the e,ployeeid using 
                foreach variable 'item' as above.and set the class to bootstrap.Build it and if u click on Edit, it will go to AddOrEdit in EmployeeController class in MVC
                ,where we passed an id = o*@
            <a href="@Url.Action("AddOrEdit","Employee", new { id = item.EmployeeId})" class= "btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
            <a onclick="Delete(@item.EmployeeId)" class="btn btn-default"><i class="fa fa-trash"></i> Delete</a>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
            });

        function Delete(id) {
            //3rd param function will be called when the user confirms this operation
            alertify.confirm('Web Api CRUD Operations', 'Are you Sure to Delete this Record ?', function () {
                //inside here,call the delete action method .controller name will be Employee
                window.location.href = '@Url.Action("Delete","Employee")/' + id;
            },null )//4th param will be a f/n u call when u cancel this operation.just kept null as i dont have to do anything
            //Back to EMployeeController to impleement delete action method
            //Back to EMployeeController to impleement delete action method
            } )
        }
    </script>
    }